*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 500px;
    height: 500px;
    background-image: url("https://media.istockphoto.com/id/1497638723/photo/raindrops-on-asphalt-torrential-rain-rainy-weather-water-drops.jpg?s=1024x1024&w=is&k=20&c=JK1DuAbKMMwqc7aGKz3A-HqLhKcZThlDvWZbU-oZpQg=");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border: 5px solid black;
}
#container input{
    width: 80%;
    height: 45px;
    border-radius: 20px;
    font-size: 25px;
}
#container input::placeholder{
    font-size: 20px;
}
#container #add{
    width: 60px;
    height: 40px;
    margin-left: -1%;
    border-radius: 20px;
    background-color: blueviolet;
    cursor: pointer;
}
#container #taskItems{
    font-size: 20px;
}
#taskItems li{
    background-color: transparent;
    display: flex;
    margin-left: 20%;
    margin-top: 4%;
    align-items: center;
    font-size: 25px;
}
#taskItems li input{
    width: 30px;
    margin-left: 20%;
    margin-top: -1%;
}